<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>FaceBridge uses Bluetooth to discover and communicate with your paired iPhone.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>FaceBridge uses the local network to communicate with your paired iPhone.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_facebridge._tcp</string>
    </array>
</dict>
</plist>
